<div class="card-area">
    <md-card>
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#" name="tool">
                Name search
            </md-nav-item>
            <md-nav-item  md-nav-href="{{ '' | asApi}}" name="about">
                API
            </md-nav-item>
        </md-nav-bar>

        <div>
            <md-content layout-wrap layout-gt-sm="row" layout-padding class="white">
                <md-input-container flex-gt-sm="50">
                    <label>Search table (q)</label>
                    <input ng-model="$ctrl.state.q">
                </md-input-container>
                <md-input-container flex="initial" style="width:200px">
                    <label>Dataset key</label>
                    <input ng-model="$ctrl.state.datasetKey">
                </md-input-container>

                <md-input-container ng-repeat="optionType in $ctrl.optionFilters">
                    <label>{{optionType}}</label>
                    <md-select ng-model="$ctrl.state[optionType]">
                        <md-option ng-value="">
                            _none
                        </md-option>
                        <md-option ng-repeat="item in $ctrl[optionType]" ng-value="item">
                            {{item}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.search()">Search</md-button>
                </div>
            </md-content>
            <md-divider></md-divider>
        </div>
        <md-content layout-padding class="white">
            <table-search-component options="$ctrl.tableConfig"></table-search-component>
        </md-content>

        <div ng-show="$ctrl.currentNavItem == 'about'">
            <md-content class="md-padding white">
                <div ng-bind-html="$ctrl.aboutContent" class="aboutBody"></div>
            </md-content>
        </div>

    </md-card>

</div>
