<div class="card-area">
    <md-card>
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#" name="tool">
                Species search
            </md-nav-item>
        </md-nav-bar>

        <div>
            <md-content layout-wrap layout-gt-sm="row" layout-padding class="white">
                <md-input-container flex-gt-sm="50">
                    <label>Search table</label>
                    <input ng-model="$ctrl.state.q">
                </md-input-container>
                <md-input-container flex="initial" style="width:200px">
                    <label>Dataset key</label>
                    <input ng-model="$ctrl.state.datasetKey">
                </md-input-container>
                <md-input-container>
                    <label>Rank</label>
                    <md-select ng-model="$ctrl.state.rank">
                        <md-option ng-repeat="rank in $ctrl.ranks" ng-value="rank">
                            {{rank}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.search()">Search</md-button>
                </div>
            </md-content>
            <md-divider></md-divider>
        </div>
        <div>
            <div class="table-container">
                <table class="gb-table-linked table-striped">
                    <thead>
                        <th>ScientificName</th>
                        <th>Key</th>
                        <th>Dataset</th>
                        <th></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="item in $ctrl.searchResults.result">
                        <td>{{item.scientificName}}</td>
                        <td>
                            <a href="/species/{{item.key}}">{{item.key}}</a>
                        </td>
                        <td>{{item.datasetKey}}</td>
                        <td class="text-right whiteSpace-nowrap">
                            <span   ng-click="$ctrl.expandedRowMap[$index] = !$ctrl.expandedRowMap[$index]"
                                    class="btnLink">
                                <i class="material-icons">more_vert</i>
                                <md-tooltip md-direction="top">Details</md-tooltip>
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="$ctrl.expandedRowMap[$index]">
                        <td colspan="9">
                            <code>
                                <pre>{{dataset | json : spacing}}
                                </pre>
                            </code>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="emptyInfo" ng-if="$ctrl.rowCollection.count === 0">
                <h3>No ingestion entries for this data</h3>
                <p>This can be the case if the dataset hasn't been ingested since logging was introduced on 6 November 2013</p>
            </div>
        </div>

        <div>
            <ul>
                <li ng-repeat="item in $ctrl.searchResults.result">
                    <h4>{{item.scientificName}}</h4>
                    <div>
                        <pre>{{item | json : spacing}}</pre>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-show="$ctrl.currentNavItem == 'about'">
            <md-content class="md-padding white">
                <div ng-bind-html="$ctrl.aboutContent" class="aboutBody"></div>
            </md-content>
        </div>

    </md-card>

</div>
