<md-toolbar class="site-top-bar gb-nav" md-whiteframe="3">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="menu" ng-click="$ctrl.toggleMenu()" ng-if="!$ctrl.mdMedia('gt-md')">
      <i class="material-icons">menu</i>
    </md-button>
    <md-button aria-label="menu" ng-click="$ctrl.changeState('app')">
      COL+ API debugger
    </md-button>
    <md-button aria-label="menu" ng-href="https://sp2000.github.io/colplus/api/api.html">
      API Docs
    </md-button>
    <div flex></div>
    <md-button class="md-icon-button" aria-label="More">
      <a ui-sref="settings()"><i class="material-icons">settings</i></a>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <a href="https://github.com/Sp2000/colplus-backend/issues" target="_blank"><i class="material-icons">feedback</i></a>
    </md-button>
  </div>
</md-toolbar>
