.messageCenter {
	background: tomato;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 200;
	color: white;
	max-height: 150px;
	overflow: auto;
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}