<div class="card-area">
    <!--<h2 class="md-headline">Crawl history</h2>-->
    <md-card>
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/taxon/{{$ctrl.key}}"  name="tool">
                Taxon
            </md-nav-item>
            <md-nav-item md-nav-href="/taxon/{{$ctrl.key}}/children" name="tool">
                Children ({{$ctrl.children.total}})
            </md-nav-item>
            <md-nav-item  md-nav-href="{{ '' | asApi}}" name="about">
                API
            </md-nav-item>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.toggleFavorite()">
                <md-icon class="material-icons">favorite</md-icon>
            </md-button>
        </md-nav-bar>

        <div>
            <div ui-view>
                <md-content class="md-padding white">
                    <section>
                        <h2>Highlights</h2>
                        <dl class="asTable">
                            <div>
                                <dt>Rank</dt>
                                <dd>{{ $ctrl.taxon.name.rank }}</dd>
                            </div>
                            <div>
                                <dt>Scientific name</dt>
                                <dd>{{ $ctrl.taxon.name.scientificName }}</dd>
                            </div>
                            <div ng-if="$ctrl.classification.length > 0">
                                <dt>Classification</dt>
                                <dd class="inlineClassification">
                                    <a ng-href="/taxon/{{item.key}}" ng-repeat="item in $ctrl.classification | reverse" title="{{item.name.rank}}">{{item.name.scientificName}}</a>
                                </dd>
                            </div>
                            <div ng-if="$ctrl.children.total > 0">
                                <dt>Children <span>(10 of {{$ctrl.children.total}})</span></dt>
                                <dd class="inlineList">
                                    <a ng-href="/taxon/{{item.key}}" ng-repeat="item in $ctrl.children.result | limitTo:10">{{item.name.scientificName}}</a>
                                </dd>
                            </div>
                        </dl>
                    </section>
                </md-content>

                <section class="jsonDump clearfix">
                    <div class="pull-right" style="margin:-20px 0">
                        <md-switch ng-model="$ctrl.localStorage.hideTaxonJson" aria-label="Hide JSON">
                            Hide JSON
                        </md-switch>
                    </div>
                    <div ng-if=!$ctrl.localStorage.hideTaxonJson>
                        <div ng-bind-html="$ctrl.infoJson"></div>
                    </div>
                </section>

                <md-content class="md-padding white" ng-if="$ctrl.classification.length > 0">
                    <section>
                        <h2>Classification</h2>
                        <table-component options="$ctrl.classificationConfig" results="$ctrl.classification"></table-component>
                    </section>
                </md-content>

                <md-divider></md-divider>

                <md-content class="md-padding white" ng-if="$ctrl.synonyms.length > 0">
                    <section>
                        <h2>Synonyms</h2>
                        <md-list ng-repeat="item in $ctrl.synonyms">
                            <md-list-item ng-repeat="subItem in item">
                                <p>{{subItem.scientificName}} {{subItem.authorship}}</p>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </section>
                </md-content>
            </div>
        </div>

    </md-card>

</div>
