<div class="card-area">
    <!--<h2 class="md-headline">Crawl history</h2>-->
    <md-card>
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/taxon/{{$ctrl.key}}"  name="tool">
                Taxon
            </md-nav-item>
            <md-nav-item md-nav-href="/taxon/{{$ctrl.key}}/children" name="tool">
                Children ({{$ctrl.children.total}})
            </md-nav-item>
            <md-nav-item  md-nav-href="{{ '' | asApi}}" name="about">
                API
            </md-nav-item>
        </md-nav-bar>

        <div>
            <div ui-view>
                <md-content class="md-padding white">
                    <section>
                        <h2>Highlights</h2>
                        <dl>
                            <dt>Rank</dt>
                            <dd>{{ $ctrl.name.rank }}</dd>

                            <dt>Scientific name</dt>
                            <dd>{{ $ctrl.name.scientificName }}</dd>
                        </dl>
                    </section>
                    <section>
                        <h2>JSON</h2>
                        <div ng-bind-html="$ctrl.infoJson" style="line-height:17px;font-size:13px;font-family:monospace;white-space:pre;"></div>
                    </section>
                </md-content>

                <md-content class="md-padding white" ng-if="$ctrl.classification.length > 0">
                    <section>
                        <h2>Classification</h2>
                        <table-component options="$ctrl.classificationConfig" results="$ctrl.classification"></table-component>
                    </section>
                </md-content>

                <md-content class="md-padding white" ng-if="$ctrl.synonyms.length > 0">
                    <section>
                        <h2>Synonyms</h2>
                        <ul>
                            <li ng-repeat="item in $ctrl.synonyms">
                                <ul>
                                   <li ng-repeat="subItem in item">
                                        <div>
                                            {{subItem.scientificName}}
                                        </div>
                                   </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </md-content>
            </div>
        </div>

    </md-card>

</div>
